<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-xs-10">
          <hr>
          <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer" *ngFor="let product of products; let i = index" (click)="onEditItem(i)">
             {{ product.productId }} ,{{ product.productCode }} ,{{ product.productName }} ,{{ product.productQuantity }} ,
     {{ product.productPrice }} ,{{ product.supplierName }} ,{{ product.supplierPhone }} 
        </a>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="productName" class="form-control" name="productName" ngModel required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="quantity">Quantity</label>
          <input type="text" id="productQuantity" class="form-control" name="productQuantity" ngModel required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="text" id="productPrice" class="form-control" name="productPrice" ngModel required>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">
              {{ editMode ? 'Update' : 'Add'}}
            </button>
          <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>