<div class="row" align="left">
  <div class="col-md-12">
    <button type="button" class="btn-group btn btn-success" style="width:160px" routerLink="add">Add</button>
    <button type="button" class="btn-group btn-warning btn-md" style="width:160px" routerLink="edit">Edit</button>
    <button type="button" class="btn-group btn btn-primary" style="width:160px" routerLink="modify">Modify</button>
    <button type="button" class="btn-group btn btn-danger" style="width:160px">Delete</button>
    <button type="button" class="btn-group btn btn-info" style="width:160px" routerLink="view">View</button>
  </div>
    <span *ngFor="let server of servers; let i = index">
    <!--{{ server.id | async }} is {{ server.name }}-->
</span>
</div>
<!-- <hr> -->
<div class="table-responsive"></div>
<div>
  <router-outlet></router-outlet>
</div>